.form {
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control select {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control select:focus {
  background-color: #cbf8f8;
  outline-color: rgb(128, 0, 9);
}

.actions {
  text-align: center;
}

.actions button {
  font-size: 1.25rem;
  background-color: #800000;
}
.card {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}
.card h2 {
  color: #800000;
}
.loginSpan {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.loginSpan a {
  text-decoration: none;
  color: #800000;
  font-size: 1.1rem;
}
.loginSpan a:hover {
  text-decoration: underline;
}
